NUXT_PUBLIC_CORE_API_BASE_URL=http://localhost:8000
NUXT_PUBLIC_DISPATCH_SERVICE_BASE_URL=http://localhost:8082
NUXT_PUBLIC_LOCATION_SERVICE_BASE_URL=http://localhost:8081
NUXT_PUBLIC_REALTIME_GATEWAY_WS_URL=ws://localhost:8083
